@using StaffAccounting.Models.ViewModels
@using StaffAccounting.Models.Company
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var employeeTask = Model.Pagination.GetItemsAsync();
}

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Должность: </label>
        <select class="form-control" name="requiredNotation">
            <option selected="selected"></option>
            @foreach (string type in Model.NotationProvider.Notations)
            {
                <option>@type</option>
            }
        </select>
 
        <input type="submit" value="Отфильтровать" class="btn btn-outline-primary" />
    </div>
</form>

<table class="table">
    <tr>
        <td>Id</td>
        <td>ФИО</td>
        <td>Лет</td>
        <td>Пол</td>
        <td>Действия</td>
    </tr>
    @foreach (var employee in await employeeTask)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.FullName</td>
            <td>@employee.Age</td>
            <td>@employee.Sex</td>
            <td>
                <div class="btn-group">
                    <a asp-action="Details" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-outline-info btn-sm">Подробнее</a>
                    <a asp-action="Edit" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-outline-secondary btn-sm">Изменить</a>
                    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.Id">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
                    </form>
                </div>

            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.Pagination.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-all-route-data="@Model.QueryData"
                    asp-route-page="@(Model.Pagination.PageNumber - 1)"
                    class="page-link">
                    <span aria-hidden="true">&laquo;  </span>
                </a>
            </li>
        }
        <li class="page-item">
            <a asp-action="Index" asp-all-route-data="@Model.QueryData" 
                asp-route-page="1"
                class="page-link">
                <span aria-hidden="true">1</span>
            </a>
        </li>
        @if (Model.Pagination.HasPage(2))
        {
            <li class="page-item">
                <a asp-action="Index" asp-all-route-data="@Model.QueryData"
                    asp-route-page="2"
                    class="page-link">
                    <span aria-hidden="true">2</span>
                </a>
            </li>
        }

        @if (Model.Pagination.TotalPages > 2)
        {
            @if (Model.Pagination.TotalPages > 3)
            {
                <li class="page-item">
                    <div class="page-link">
                        <span aria-hidden="true">...</span>
                    </div>
                </li>
            }
            <li class="page-item">
                <a asp-action="Index" asp-all-route-data="@Model.QueryData"
                    asp-route-page="@Model.Pagination.TotalPages"
                    class="page-link">
                    <span aria-hidden="true">@Model.Pagination.TotalPages</span>
                </a>
            </li>
        }

        @if (Model.Pagination.HasNextPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-all-route-data="@Model.QueryData" 
                    asp-route-page="@(Model.Pagination.PageNumber + 1)"
                    class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>