@using StaffAccounting.Models.ViewModels
@using StaffAccounting.Models.Company
@model Pagination<Employee>
@{
    ViewData["Title"] = "Home Page";
    var employeeTask = Model.GetItemsAsync();
}

<table class="table">
    <tr>
        <td>Id</td>
        <td>ФИО</td>
        <td>Лет</td>
        <td>Пол</td>
        <td>Действия</td>
    </tr>
    @foreach (var employee in await employeeTask)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.FullName</td>
            <td>@employee.Age</td>
            <td>@employee.Sex</td>
            <td>
                <div class="btn-group">
                    <a asp-action="Details" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-outline-info btn-sm">Подробнее</a>
                    <a asp-action="Edit" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-outline-secondary btn-sm">Изменить</a>
                    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.Id">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
                    </form>
                </div>

            </td>
        </tr>
    }
</table>
@*@if (Model.HasPreviousPage)
    {
    <a asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"
    class="btn btn-outline-dark">
    Назад
    </a>
    }

    @if (Model.HasNextPage)
    {
    <a asp-action="Index" asp-route-page="@(Model.PageNumber + 1)"
    class="btn btn-outline-dark">
    Вперед

    </a>
    }
*@

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"
               class="page-link">
                    <span aria-hidden="true">&laquo;  </span>
                </a>
            </li>
        }
        <li class="page-item">
            <a asp-action="Index" asp-route-page="1"
               class="page-link">
                <span aria-hidden="true">1</span>
            </a>
        </li>
        @if (Model.HasPage(2))
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-page="2"
               class="page-link">
                    <span aria-hidden="true">2</span>
                </a>
            </li>
        }

        @if (Model.TotalPages > 2)
        {
            @if (Model.TotalPages > 3)
            {
                <li class="page-item">
                    <div class="page-link">
                        <span aria-hidden="true">...</span>
                    </div>
                </li>
            }
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@Model.TotalPages"
               class="page-link">
                    <span aria-hidden="true">@Model.TotalPages</span>
                </a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a asp-action="Index" asp-route-page="@(Model.PageNumber + 1)"
               class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>