@model StaffAccounting.Models.Company.Rank

<h1>@Model.Name</h1>

<div>
    <dl class="dl-horizontal">
        <dt>Рабочие с данной должностью</dt>
        <dd>
            <div class="items-collection">
                @{
                    int workersCount = Model.Workers.Count();
                }
                @if (workersCount != 0)
                {
                    @for (int workersNumber = 0; workersNumber < Math.Min(workersCount, 3); workersNumber++)
                    {
                        <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.Workers[workersNumber].Id">
                            @(workersNumber+1). @Model.Workers[workersNumber].FullName
                        </a>
                        <br />
                    }
                    @if (workersCount > 3)
                    {
                        <text>...</text>
                        <br />
                    }
                    <a asp-action="Index" asp-controller="Employee" asp-route-RankId="@Model.Id">
                        Подробнее
                    </a>
                }
                else
                {
                    <span>Отстутствуют</span>
                }
            </div>
        </dd>
    </dl>

    <a asp-action="Edit" asp-controller="Rank" asp-route-id="@Model.Id" 
        class="btn btn-outline-secondary btn-sm">
        Изменить
    </a>

    <form asp-action="Delete" asp-controller="Rank" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
    </form>
</div>