@using StaffAccounting.Models.Company;
@model DepartmentHead

<h1>Глава департамента</h1>

@await Html.PartialAsync("Details/Employee", Model)

<div>
    <dl class="dl-horizontal">
        <dt>Департамент</dt>
        <dd>
            <a asp-action="Details" asp-controller="Department" asp-route-id="@Model.DepartmentId">
                @Model.Department?.Name
            </a>
        </dd>
        <dt>Директор</dt>
        <dd>
            <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.DirectorId">
                @Model.Director?.FullName
            </a>
        </dd>
        <dt>Мэнеджеры</dt>
        <dd>
            <div class="items-collection">
                @{
                    int managersCount = Model.Managers.Count();
                }
                @for (int managerNumber = 0; managerNumber < Math.Min(managersCount, 3); managerNumber++)
                {
                    <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.Managers[managerNumber].Id">
                        @(managerNumber+1). @Model.Managers[managerNumber].FullName
                    </a>
                    <br />
                }
                @if (managersCount > 3)
                {
                    <text>...</text>
                    <br />
                }
                <a asp-action="Index" asp-controller="Employee" asp-route-DepartmentHeadId="@Model.Id">
                    Подробнее
                </a>
            </div>
        </dd>
    </dl>

    <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-secondary btn-sm">Изменить</a>

    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
    </form>
</div>