@using StaffAccounting.Models.Company;
@model Manager

<h1>Менеджер</h1>

@await Html.PartialAsync("Details/Employee", Model)

<div>
    <dl class="dl-horizontal">
        <dt>Глава департамента</dt>
        <dd>
            <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.DepartmentHeadId">
                @Model.DepartmentHead.FullName
            </a>
        </dd>
        <dt>Проект</dt>
        <dd>
            <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.ProjectId">
                @Model.Project.Name
            </a>
        </dd>
        <dt>Рабочие</dt>
        <dd>
            <div class="items-collection">
                @{
                    int workersCount = Model.Workers.Count();
                }
                @for (int workerNumber = 0; workerNumber < workersCount; workerNumber++)
                {
                    <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.Workers[workerNumber].Id">
                        @(workerNumber+1). @Model.Workers[workerNumber].FullName
                    </a>
                    <br />
                }
            </div>
        </dd>
    </dl>
</div>