@using StaffAccounting.Models.Company;
@model Manager

<h1>Менеджер</h1>

@await Html.PartialAsync("Details/Employee", Model)

<div>
    <dl class="dl-horizontal">
        <dt>Глава департамента</dt>
        <dd>
            <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.DepartmentHeadId">
                @Model.DepartmentHead?.FullName
            </a>
        </dd>
        <dt>Проект</dt>
        <dd>
            <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.ProjectId">
                @Model.Project?.Name
            </a>
        </dd>
        <dt>Рабочие</dt>
        <dd>
            <div class="items-collection">
                @{
                    int workersCount = Model.Workers.Count();
                }
                @if (workersCount != 0)
                {
                    @for (int workerNumber = 0; workerNumber < Math.Min(workersCount, 3); workerNumber++)
                    {
                        <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.Workers[workerNumber].Id">
                            @(workerNumber+1). @Model.Workers[workerNumber].FullName
                        </a>
                        <br />
                    }
                    @if (workersCount > 3)
                    {
                        <text>...</text>
                        <br />
                    }
                    <a asp-action="Index" asp-controller="Employee" asp-route-ManagerId="@Model.Id">
                        Подробнее
                    </a>
                }
                else
                {
                    <span>Отстутствуют</span>
                }
            </div>
        </dd>
    </dl>

    <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-secondary btn-sm">Изменить</a>

    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
    </form>
</div>